/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans:wght@400;800&display=swap");

/* basic css reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-title: "Boogaloo", cursive;
  --ff-main: "Open Sans", sans-serif;
  --fw-regular: 400;
  --fw-bold: 600;
  --fw-black: 800;

  --border-radius: 0.75rem;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  --text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);

  --transition-color: color 0.25s ease-in-out, background 0.25s ease-in-out;
  --transition-all-quick: all 0.3s ease-in-out;
  --transition-all-slow: all 1s ease-in-out;
  --transition-opacity: opacity 1s ease-in-out;

  --clr-neutral-900: #222629;
  --clr-neutral-900-trans: hsla(206, 9%, 15%, 75%);
  --clr-neutral-800: hsl(206, 9%, 25%);
  --clr-neutral-700: #747b4f;
  --clr-neutral-200: #6b6e70;
  --clr-neutral-100: #c8d0d5;
  --clr-accent-100: #86c232;
  --clr-accent-300: #61892f;
}

body {
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-main);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  height: 100vh;
  width: 100vw;
}

header {
  line-height: 1;
  opacity: 1;
  transition: var(--transition-opacity);

  h1 {
    font-family: var(--ff-title);
    font-weight: var(--fw-regular);
    font-size: min(6rem, 15vw);

    text-align: center;
    transition: var(--transition-all-quick);

    transition: var(--transition-all-quick);

    span {
      color: var(--clr-accent-100);
    }

    &:hover {
      letter-spacing: 0.5rem;
      color: var(--clr-accent-100);
      text-shadow: var(--text-shadow);
      transition: var(--transition-all-quick);

      span {
        color: var(--clr-neutral-100);
      }
    }
  }
}

//
// Game Menu
//

.game-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 1rem;
  max-width: 45ch;

  font-size: clamp(1rem, 4vw, 1.5rem);

  opacity: 1;
  transition: var(--transition-opacity);

  p {
    text-align: center;
    line-height: 1.7;
  }

  span,
  p::first-letter {
    font-weight: var(--fw-bold);
    color: var(--clr-accent-100);
  }

  .input-container {
    margin-block: 3rem;
  }

  label {
    display: block;
    align-self: start;

    margin-top: 1rem;
    margin-bottom: 0.5rem;

    font-size: 1rem;
    font-weight: var(--fw-bold);
  }

  input {
    padding: 0.5rem 0.75rem;

    font: inherit;

    border-radius: var(--border-radius);
    border: 0;

    background: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
    transition: var(--transition-all-quick);
  }

  input:hover,
  input:focus {
    font-weight: var(--fw-bold);

    color: var(--clr-accent-100);
    background: var(--clr-neutral-900);

    outline: var(--clr-accent-100) solid 0.15rem;
  }

  .git {
    margin-top: 0.5rem;

    a,
    a:visited {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;

      text-decoration: none;
      cursor: pointer;

      fill: var(--clr-neutral-800);
      color: var(--clr-neutral-800);
      transition: var(--transition-all-quick);
    }

    a:hover,
    a:active {
      color: var(--clr-accent-100);
      fill: var(--clr-accent-100);
    }

    h5 {
      font-weight: var(--fw-regular);
      font-size: 1.25rem;
    }

    svg {
      height: 1.5rem;
    }
  }
}

button {
  margin-block: 1rem;
  padding: 0.75rem 1rem;

  font-size: inherit;
  font-weight: var(--fw-black);

  border-radius: var(--border-radius);
  border: 0;

  background: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  transition: var(--transition-all-quick);
}

button:hover,
button:focus {
  cursor: pointer;
  scale: 1.25;
  background: var(--clr-accent-100);
}

button:active {
  background: var(--clr-neutral-100);
}

//
// Gameboard
//

main {
  flex-shrink: 0;

  display: grid;
  margin-block: 1rem;

  width: min(35rem, 90%);
  aspect-ratio: 1;

  background: var(--clr-neutral-800);

  opacity: 1;
  transition: var(--transition-opacity);
}

#game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;

  background: var(--clr-neutral-800);

  .square {
    display: grid;
    place-items: center;

    height: 100%;
    width: 100%;

    background: var(--clr-neutral-900);

    font-size: min(15vw, 8rem);
    font-weight: var(--fw-bold);

    text-transform: uppercase;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &.x {
      color: var(--clr-neutral-100);
    }

    &.o {
      color: var(--clr-accent-100);
    }
    &.enabled:hover {
      cursor: pointer;

      background: var(--clr-neutral-800);
      box-shadow: 0px 0px 52px 2px var(--clr-neutral-900) inset;
      transition: all 0.2s ease-in-out;
    }
    &.enabled:active {
      box-shadow: none;
      background: var(--clr-accent-300);
      color: var(--clr-neutral-900);
      transition: all 0.1s linear;
    }
  }
}

//
// Scoreboard
//

.scoreboard {
  display: grid;
  grid-template-columns: max-content 1fr 1fr max-content;
  place-items: center;

  opacity: 1;
  transition: opacity 1s ease-in-out;

  .name {
    font-weight: var(--fw-regular);
    font-family: var(--ff-title);
    font-size: 1.75rem;

    padding-inline: 0.25em;
    margin-inline: 0.125em;

    transition: var(--transition-all-quick);
  }

  .score {
    display: grid;
    place-items: center;

    width: 4rem;
    aspect-ratio: 1;

    margin-inline: 0.125em;

    border-radius: 1rem;

    font-size: 2.5rem;
  }

  .player1-score {
    background: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
  }

  .player2-name {
    color: var(--clr-accent-100);
  }

  .player2-score {
    background: var(--clr-accent-100);
    color: var(--clr-neutral-900);
  }

  &.player1 {
    flex-direction: row-reverse;
  }
}

//
// Modal
//

.modal {
  position: absolute;
  display: grid;
  place-items: center;

  padding: 3rem;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(6px);
  background: var(--clr-neutral-900-trans);

  transition: var(--transition-all-slow);

  .text-container {
    text-align: center;
    transition: var(--transition-all-slow);
  }

  h3 {
    font-size: max(2rem, 5vw);
    font-family: var(--ff-title);
    font-weight: var(--fw-regular);
    letter-spacing: 1px;

    color: var(--clr-accent-100);

    margin-bottom: 0.25rem;
    transition: var(--transition-all-slow);
  }

  h4 {
    font-family: var(--ff-title);
    font-weight: var(--fw-regular);
    font-size: max(1.5rem, 3vw);
    transition: var(--transition-all-slow);
  }
}

//
// Utility classes
//

.display-none {
  display: none;
}

.opacity0 {
  opacity: 0;
  transition: var(--transition-all-slow);
}

// .opacity1 {
//   opacity: 1;
//   transition: var(--transition-all-slow);
// }
